<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos - Web Flex</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    
    <header>
        <h1><a href="./index.html">Web Flex</a></h1>
        <nav class="nav-pesquisa">
            <div class="pesquisa">
                <input type="text" placeholder="Buscar produtos...">
                <span class="material-symbols-outlined">search</span>
                <div class="login">
                    <abbr title="Carrinho">
                        <a href="carrinho.html"><span class="material-symbols-outlined">shopping_cart</span></a>
                    </abbr>
                    <abbr title="Cadastrar / Fazer Login">
                        <a href="cadastro.html"><span class="material-symbols-outlined">account_circle</span></a>
                    </abbr>
                </div>
            </div>
        </nav>
    </header>

    <main style="margin: 0 auto; max-width: 1200px; padding-inline: 20px;">
        <h1 style="text-align: center;">Busque nossos Produtos</h1>

            <section class="mini-slides">
                <h2>Produtos em Destaque</h2>
                <p>Confira nossa melhores ofertas da semana!</p>
                <div class="produtos">
                    <div class="produto">
                        <img src="https://fujiokadistribuidor.vteximg.com.br/arquivos/ids/174937" alt="Notebook">
                        <h4>Notebook Dell Inspiron</h4>
                        <p>R$ 3.200,00</p>
                        <a href="produto.html">Ver Detalhes</a>
                    </div>
                    <div class="produto">
                        <img src="https://images.kabum.com.br/produtos/fotos/112948/mouse-gamer-logitech-g203-rgb-lightsync-6-botoes-8000-dpi-preto-910-005793_1612880277_g.jpg" alt="Mouse Gamer">
                        <h4>Mouse Gamer Logitech G203</h4>
                        <p>R$ 150,00</p>
                        <a href="produto.html">Ver Detalhes</a>
                    </div>
                    <div class="produto">
                        <img src="https://img.terabyteshop.com.br/produto/p/ssd-kingston-a400-480gb-sata-iii-leitura-500mbs-gravacao-450mbs-sa400s37480g-imp_129879.jpg" alt="SSD">
                        <h4>SSD Kingston 480GB</h4>
                        <p>R$ 250,00</p>
                        <a href="produto.html">Ver Detalhes</a>
                    </div>
                    <div class="produto">
                        <img src="https://img.terabyteshop.com.br/produto/p/ssd-kingston-a400-480gb-sata-iii-leitura-500mbs-gravacao-450mbs-sa400s37480g-imp_129879.jpg" alt="SSD">
                        <h4>SSD Kingston 480GB</h4>
                        <p>R$ 250,00</p>
                        <a href="produto.html">Ver Detalhes</a>
                    </div>
                </div>
            </section>

            

            <section style="margin-block: 50px;">
                <h2 style="text-align: center;">Pesquise nossos produtos</h2>

                <div style="display: flex; justify-content: center; margin-bottom: 20px;">
                    <input type="search" placeholder="Digite o nome do produto..." style="width: 350px; padding: 20px; border-radius: 20px; border: 1px solid #ccc; outline: none;">
                    <button type="button" 
                        style="margin-left: 8px; padding: 15px; border-radius: 20px; border: none; background: #1976d2; color: #fff; cursor: pointer;">
                        <span class="material-symbols-outlined" style="vertical-align: middle;">search</span>
                    </button>
                </div>

                <div class="produtos">
                    <div class="produto">
                        <img src="https://http2.mlstatic.com/D_NQ_NP_661888-MLB50192328385_062022-O.webp">
                        <h4>Tênis Nike Revolution 6</h4>
                        <p>R$ 299,00</p>
                        <a href="produto.html">Ver Detalhes</a>
                    </div>
                    <div class="produto">
                        <img src="https://m.media-amazon.com/images/I/31TcADPah3L._AC_.jpg" alt="Camiseta Básica">
                        <h4>Camiseta Básica Algodão</h4>
                        <p>R$ 49,90</p>
                        <a href="produto.html">Ver Detalhes</a>
                    </div>
                    <div class="produto">
                        <img src="https://evidal.com.br/painel/admin/upload/produtos/ori_ban_8348.webp" alt="Geladeira Electrolux">
                        <h4>Geladeira Electrolux 371L</h4>
                        <p>R$ 2.399,00</p>
                        <a href="produto.html">Ver Detalhes</a>
                    </div>
                    <div class="produto">
                        <img src="https://estrelamoveis.com.br/wp-content/uploads/2020/03/Sofa-3-Lugares-7025-em-Tecido-Suede-e-Encosto-Fixo-Marrom.webp" alt="Sofá 3 Lugares">
                        <h4>Sofá 3 Lugares Suede</h4>
                        <p>R$ 1.299,00</p>
                        <a href="produto.html">Ver Detalhes</a>
                    </div>
                    <div class="produto">
                        <img src="https://app.lojasnossolar.com.br/images/nossolar/produtos/14062/984454_202566_P1000.jpg" alt="Smartphone Samsung">
                        <h4>Smartphone Samsung Galaxy A14</h4>
                        <p>R$ 1.099,00</p>
                        <a href="produto.html">Ver Detalhes</a>
                    </div>
                    <div class="produto">
                        <img src="https://bravalumi.cdn.magazord.com.br/img/2023/09/produto/10423/liquidificador-philco-4-velocidades-900w-preto.png" alt="Liquidificador Philco">
                        <h4>Liquidificador Philco 900W</h4>
                        <p>R$ 189,00</p>
                        <a href="produto.html">Ver Detalhes</a>
                    </div>
                    <div class="produto">
                        <img src="https://images.tcdn.com.br/img/img_prod/649613/headphone_jbl_tune_500_fone_de_ouvido_com_fio_preto_8859_1_8d2274d9ffd825ff54b76b34456eeb76.png" alt="Fone de Ouvido JBL">
                        <h4>Fone de Ouvido JBL Tune 500</h4>
                        <p>R$ 129,00</p>
                        <a href="produto.html">Ver Detalhes</a>
                    </div>
                    <div class="produto">
                        <img src="https://cdn.awsli.com.br/300x300/1552/1552057/produto/61394436/95a649451a.jpg" alt="Furadeira Black+Decker">
                        <h4>Furadeira Black+Decker 560W</h4>
                        <p>R$ 219,00</p>
                        <a href="produto.html">Ver Detalhes</a>
                    </div>
                    <div class="produto">
                        <img src="https://philco.vtexassets.com/arquivos/ids/157861/Cafeteira-PH30-Thermo_01.jpg?v=636318253441870000" alt="Cafeteira Elétrica">
                        <h4>Cafeteira Elétrica Philco PH30</h4>
                        <p>R$ 159,00</p>
                        <a href="produto.html">Ver Detalhes</a>
                    </div>
                    <div class="produto">
                        <img src="https://moveislinhares.vteximg.com.br/arquivos/ids/234968-1000-1000/110154-1.jpg?v=638681485932730000" alt="Ventilador Mondial">
                        <h4>Ventilador Mondial 30cm 6 Pás</h4>
                        <p>R$ 119,00</p>
                        <a href="produto.html">Ver Detalhes</a>
                    </div>
                </div>
                <p style="text-align: center;">. . . Mostrar mais produtos . . .</p>
            </section>

            <div class="propaganda" style="margin-block: 70px; text-align: center; padding: 10px; background-color: #ddd;">
                <p style="font-size: small;">PUBLICIDADE</p>
                <a href="https://www.havan.com.br/" target="_blank" style="display: inline-block;">
                    <img src="https://raichu-uploads.s3.amazonaws.com/companypagedetail_c959f352-c816-4c35-b310-4028fe3a8e17.jpg"
                        alt="Havan" style="width: 100%">
                </a>
            </div>

            
    </main>

    <footer>
        <p>&copy; 2025 Web Flex. Todos os direitos reservados.</p>
        <nav>
            <a href="sobre.html">Sobre Nós</a> | 
            <a href="contato.html">Contato</a>
        </nav>
    </footer>

</body>
</html>
